{
    "metrics": [
        {
            "Namespace" : "AWS/ELB",
            "MetricName" : "RequestCount",
            "Statistics" : ["Sum"],
            "Dimensions" : {
                "LoadBalancerName" : "RADImp"
            },
            "Unit" : "Count"
        }
    ],
    "_comment" : {
        "carbonNameSpacePrefix" : "cloudwatch"
    }
}
